<h2 class="title">ประวัติการเบิกผ้าเข้ามา</h2>
<form clrForm >
        <div class="clr-row clr-align-items-center">
            <div class="clr-col-1">
                <label>ค้นหา</label>
            </div>
            <input class="clr-col-3" placeholder="รหัสการเบิก" name="searchRequisitionId" [(ngModel)]="searchRequisitionId" />            <!-- <input class="clr-col-3" placeholder="วันเวลา" name="searchDate" [(ngModel)]="searchDate" /> -->
            <div class="clr-col-1">
                <button type="button" (click)="searchReq(searchRequisitionId)" class="btn btn-primary">ค้นหา</button>
            </div>
        </div>
    </form>
 <div  style = "position:relative; margin-left: 40%;" class="btn-group" >
        <button class="btn" (click)="showReqWaitAdmin()()">รออนุมัติ</button>
        <button class="btn btn-success-outline" (click)="showReqWaitAdminApprove()">อนุมัติแล้ว</button>
        <button class="btn btn-danger-outline"  (click)="showReqWaitAdminNotApprove()">ไม่อนุมัติ</button>
 </div>
 <button type="button" class="btn btn-outline" (click)="moAllApprove()">อนุมัติตามรายการที่เลือก</button>

<div class="limit-height">
<clr-datagrid [(clrDgSelected)]="selected" class="datagrid-compact clr-col-8" *ngIf="showReqAdmin">
        <clr-dg-placeholder>ไม่มีข้อมูล!</clr-dg-placeholder>
        <clr-dg-column>รหัสการเบิก</clr-dg-column>
        <clr-dg-column>วอร์ดที่เบิก</clr-dg-column>
        <clr-dg-column [clrDgField]="'day'">วันที่เบิก</clr-dg-column>
        <clr-dg-column>เวลาที่ยื่นคำร้องเบิกผ้า</clr-dg-column>
        <clr-dg-column>การอนุมัติ</clr-dg-column>
        <clr-dg-column>ดูข้อมูลการบิก</clr-dg-column>   
        <clr-dg-row id="green" *clrDgItems="let item of showReqAdmin" [clrDgItem]="item">
            <clr-dg-cell>{{item.requisitionCode}}</clr-dg-cell>
            <clr-dg-cell>{{item.wardName}}</clr-dg-cell>
            <clr-dg-cell>{{item.day}}</clr-dg-cell>
            <clr-dg-cell>{{item.time}}</clr-dg-cell>
            <clr-dg-cell *ngIf="item.status==0" style="color:blue">รออนุมัติ</clr-dg-cell>
            <clr-dg-cell *ngIf="item.status==1" style="color:green">อนุมัติ</clr-dg-cell>
            <clr-dg-cell *ngIf="item.status==2" style="color:red">ไม่อนุมัติ</clr-dg-cell>
            <clr-dg-cell > 
                <!-- <button class="btn btn-success-outline btn-sm" (click)="onAdd(item.requisitionCode)">
                    ข้อมูลการเบิก
                </button> -->
                <button class="btn btn-success-outline btn-sm" routerLink="/main/requisition-bill-detail/{{item.requisitionCode}}">
                ข้อมูลการเบิก
                </button>
            </clr-dg-cell>
        </clr-dg-row>
        <clr-dg-footer>
                <b>รายการผ้าทั้งหมด {{showReqAdmin.length}} รายการ </b>&nbsp;&nbsp;
                <clr-dg-pagination #pagination [clrDgPageSize]="10">
                    <clr-dg-page-size [clrPageSizeOptions]="[10,15,20,25]">leave per page</clr-dg-page-size>
                    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                    of {{pagination.totalItems}} leave
                </clr-dg-pagination>
            </clr-dg-footer>
</clr-datagrid>
</div>

<clr-modal [(clrModalOpen)]="modalAllApprove">
    <div class="modal-body">
    <h3 class="modal-title">วอร์ดที่ต้องการอนุมัติ</h3>
    <clr-datagrid *ngIf="selected" >
        <clr-dg-column >ID</clr-dg-column>
        <clr-dg-column >ชื่อ</clr-dg-column>
        <clr-dg-row *ngFor="let item of selected;">
            <clr-dg-cell>{{ item.requisitionCode }}</clr-dg-cell>
            <clr-dg-cell>{{ item.wardName }}</clr-dg-cell>
        </clr-dg-row>
    </clr-datagrid>
    <button type="button" class="btn btn-outline" (click)="allApprove()">อนุมัติ</button>
    </div>
</clr-modal>