<h2 class="title">ประวัติการเบิกผ้าเข้ามา</h2>
<form clrForm >
        <div class="clr-row clr-align-items-center">
            <div class="clr-col-1">
                <label>ค้นหา</label>
            </div>
            <input class="clr-col-3" placeholder="ชื่อวอร์ด" name="searchWard" [(ngModel)]="searchWard" />
            <!-- <input class="clr-col-3" placeholder="วันเวลา" name="searchDate" [(ngModel)]="searchDate" /> -->
            <div class="clr-col-1">
                <button type="button" (click)="search(searchWard)" class="btn btn-primary">ค้นหา</button>
            </div>
        </div>
    </form>
<div class="limit-height">
<clr-datagrid class="clr-col-8" *ngIf="showReqAdmin">
        <clr-dg-placeholder>ไม่มีข้อมูล!</clr-dg-placeholder>

        <clr-dg-column>วอร์ดที่เบิก</clr-dg-column>
        <clr-dg-column [clrDgField]="'day'">วันที่เบิก</clr-dg-column>
        <clr-dg-column>เวลาที่ยื่นคำร้องเบิกผ้า</clr-dg-column>
        <clr-dg-column>การอนุมัติ</clr-dg-column>
        <clr-dg-column>ดูข้อมูลการบิก</clr-dg-column>   
        <clr-dg-row id="green" *ngFor="let item of showReqAdmin" >
            <clr-dg-cell>{{item.wardName}}</clr-dg-cell>
            <clr-dg-cell>{{item.day}}</clr-dg-cell>
            <clr-dg-cell>{{item.time}}</clr-dg-cell>
            <clr-dg-cell *ngIf="item.status==0" style="color:blue">รออนุมัติ</clr-dg-cell>
            <clr-dg-cell *ngIf="item.status==1" style="color:green">อนุมัติแล้ว</clr-dg-cell>
            <clr-dg-cell *ngIf="item.status==2" style="color:red">ไม่อนุมัติ</clr-dg-cell>
            <clr-dg-cell > 
                <!-- <button class="btn btn-success-outline btn-sm" (click)="onAdd(item.requisitionCode)">
                    ข้อมูลการเบิก
                </button> -->
                <button class="btn btn-success-outline btn-sm" routerLink="/main/requisition-bill-detail/{{item.requisitionCode}}">
                    ข้อมูลการเบิก
                </button>
            </clr-dg-cell>
        </clr-dg-row>
        <clr-dg-footer>
                <b>รายการผ้าทั้งหมด {{showReqAdmin.length}} รายการ </b>&nbsp;&nbsp;
                <clr-dg-pagination #pagination [clrDgPageSize]="10">
                    <clr-dg-page-size [clrPageSizeOptions]="[10,15,20,25]">leave per page</clr-dg-page-size>
                    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                    of {{pagination.totalItems}} leave
                </clr-dg-pagination>
            </clr-dg-footer>
</clr-datagrid>
</div>


<!-- <clr-modal *ngIf="showReqWaitDetailAdmin" [(clrModalOpen)]="modalEdit">
    <div class="modal-body">
            <h2 style="text-align: center;"><b>รายการผ้าที่เบิก {{requisitionCode}}</b></h2>
        <clr-datagrid >
                <clr-dg-column>รายการผ้า</clr-dg-column>
                <clr-dg-column>จำนวน</clr-dg-column> 
                <clr-dg-row  *clrDgItems="let items of showReqWaitDetailAdmin" >
                    <clr-dg-cell>{{items.clothName}}</clr-dg-cell>
                    <clr-dg-cell>{{items.amountCloth}}</clr-dg-cell>
                    
                </clr-dg-row>
        </clr-datagrid>
    <div class="modal-footer">        
        <button type="button" class="btn btn-primary" (click)="approve(requisitionCode)">อนุมัติ</button>
        <button type="button" class="btn btn-danger" (click)="notApprove()">ไม่อนุมัติ</button>
        <button type="button" class="btn btn-outline" (click)="modalEdit = false">ปิด</button>
    </div>
    </div>
</clr-modal> -->