.title {
    text-align: center;
    margin-top: -10px;
}

// .clr-col-8 {
//     display: block;
//     margin: auto; 
// }

.modal-footer {
    position: relative;
    
}

.limit-height clr-datagrid.clr-col-8{
    height: 570px;
    position: relative;
    margin-left: auto;
    margin-right:auto ;
}