<clr-main-container>
    <clr-header class="header-5" style="background-color:rgb(60, 117, 36)">
        <div class="branding">
            <a href="javascript://" class="nav-link">
                <span class="title">ระบบจัดการงานซักรีด</span>
            </a>
        </div>
        <div class="header-actions">
            <a routerLink="/login" class="nav-link">
                <span class="title">เข้าสู่ระบบ</span>
            </a>
        </div>
    </clr-header>

    <h1 style="text-align:center">
        สมัครสมาชิกระบบ
    </h1>
</clr-main-container>