<h1>
    จัดการบริษัทรับซักผ้า
</h1>
<button type="button" (click)="onAdd()" class="btn btn-success">
    เพิ่มบริษัท
</button>
<br>
<br>
<clr-datagrid *ngIf="companyList" class="clr-col-10">
    <clr-dg-column>id</clr-dg-column>
    <clr-dg-column [clrDgField]="'companyName'">ชื่อบริษัท</clr-dg-column>
    <clr-dg-column>#</clr-dg-column>
    <clr-dg-row *clrDgItems="let item of companyList;">
        <clr-dg-cell>{{ item.idCompany }}</clr-dg-cell>
        <clr-dg-cell>{{ item.companyName }}</clr-dg-cell>
        <clr-dg-cell>
            <button class="btn btn-primary-outline"
                (click)="onEdit(item)">แก้ไขข้อมูล</button><br>
        </clr-dg-cell>
    </clr-dg-row>
    <clr-dg-footer>
        <b>บริษัททั้งหมด {{companyList.length}} แห่ง</b>&nbsp;&nbsp;
        <clr-dg-pagination #pagination [clrDgPageSize]="10">
            <clr-dg-page-size [clrPageSizeOptions]="[10,15,20,25]">leave per page</clr-dg-page-size>
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
            of {{pagination.totalItems}} leave
        </clr-dg-pagination>
    </clr-dg-footer>
</clr-datagrid>

<clr-modal *ngIf="currentRow" [(clrModalOpen)]="modalEdit">
    <h3 class="modal-title" *ngIf="currentRow.mode== 'edit'">แก้ไขข้อมูล</h3>
    <h3 class="modal-title" *ngIf="currentRow.mode== 'add'">เพิ่มข้อมูล</h3>
    <div class="modal-body">
            <label><b>ชื่อบริษัท</b>&nbsp;&nbsp;</label>
            <input type="text" [(ngModel)]="currentRow.companyName" name="companyName" placeholder="ชื่อบริษัท">
        </div>
        <br>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline" (click)="modalEdit = false">ยกเลิก</button>
            <button type="button" class="btn btn-primary" (click)="onSave()"
                [disabled]="!currentRow.companyName">บันทึก</button>
        </div>
</clr-modal>