<!-- <ol class="breadcrumb breadcrumb-arrow">
    <li><a href="javascript://">Purchase</a></li>
</ol> -->
<h1 class="req">เบิกผ้า</h1>
<br>
<b>เบิกจากวอร์ด {{decoded.wardName}}<b>
<form #purchase="ngForm" (ngSubmit)="onClickSubmit(purchase.value)">
    
    <b>เพิ่มจำนวนช่องรายการ </b>
    <input type="number" placeholder="ex. 12" name="amount" ngModel />
    <input type="submit" value="ตกลง" class="btn btn-sm btn-primary-outline">
</form>
<br>

<div *ngIf="purchaseLists && purchaseLists.length">
    <div *ngFor="let item of purchaseLists; let i = index">
        {{i+1}} )
        <b> รายการผ้า : </b>
        <!-- <select2 [data]="clothLists" [cssImport]=true></select2> -->
    <!-- <ng-select2 [(ngModel)]="item.clothId" [data]="clothList" [placeholder]="'Please select a fruit...'">
    </ng-select2> -->
        <div class="clr-select-wrapper">
            <select id="clothId" class="clr-select" name="clothId" [(ngModel)]="item.clothId">
                <option *ngFor="let j of clothList" value="{{j.clothId}}">
                    {{ j.clothName }}
                </option>
            </select> 
        </div>
        <b> จำนวน : </b><input type="number" name="amountCloth" [(ngModel)]="item.amountCloth" (change)="addNewRow(i)" />
        <!-- <b> ราคา/หน่วย : </b><input type="number" name="price" [(ngModel)]="item.price" (change)="addNewRow(i)" /> บาท -->
        <button *ngIf="i>0" (click)="onDelete(i)" class="btn btn-icon btn-sm btn-danger-outline"
            style="margin-left:3px">
            <!-- <clr-icon shape="times"></clr-icon> -->
            <clr-icon shape="trash"></clr-icon>
        </button>
        <br>
        <br>
    </div>
    <button class="btn btn-success" (click)="onSave()">บันทึก</button>
    <!-- <input type="submit" value="save"> -->
    <!-- </form> -->
</div>

<!-- <clr-modal *ngIf="regWaitDetail" [(clrModalOpen)]="modalBill">
    <div class="modal-body">
            <h2 style="text-align: center;"><b>รายการผ้าที่เบิก</b></h2>
        <clr-datagrid >
                <clr-dg-column>รายการผ้า</clr-dg-column>
                <clr-dg-column>จำนวน</clr-dg-column> 
                <clr-dg-row  *clrDgItems="let items of regWaitDetail" >
                    <clr-dg-cell>{{items.clothName}}</clr-dg-cell>
                    <clr-dg-cell>{{items.amountCloth}}</clr-dg-cell>
                </clr-dg-row>
        </clr-datagrid>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="modalEdit = false">ปิด</button>
    </div>
    </div> -->
<!-- </clr-modal> -->