<a *ngIf="decoded.position==2" routerLink="/main/requisition-detail">
    <button class="btn btn-success-outline btn-sm">
        <clr-icon shape="undo"></clr-icon> BACK
    </button>
</a>
<a *ngIf="decoded.position==1" routerLink="/main/requisition-detail-admin">
    <button class="btn btn-success-outline btn-sm">
        <clr-icon shape="undo"></clr-icon> BACK
    </button>
</a>
<h1 style="text-align: center;">รายละเอียดใบเบิก {{requisitionCode}}</h1> 
<div class="head-bill" *ngFor="let item of requisitionBillDetailOnly">
    <span >
        <b>รหัสการเบิก : {{requisitionCode}}</b><br>
        <b>เบิกจากวอร์ด : {{item.wardName}}</b><br>
        <b>เมื่อวันที่ : {{item.day}}</b><br>
        <b>เวลา : {{item.time}}</b><br>
    </span>
    <span *ngIf="item.status=='0'">
        <b>สถานะ​​ :</b> <b style="color:blue"> 
           รออนุมัติ
        </b><br>
    </span>
    <span *ngIf="item.status=='1' && decoded.position== '1' ">
        <b>สถานะ​​ :</b><b style="color:green">
         อนุมัติแล้ว
        </b><br>
    </span>
    <span *ngIf="item.status=='1' && decoded.position=='2' ">
        <b>สถานะ​​ :</b><b style="color:green">
         อนุมัติแล้ว(กำลังจัดส่ง)
        </b><br>
    </span>
    <span *ngIf="item.status=='2'">
            <b>สถานะ​​ :</b><b style="color:red"> ไม่อนุมัติ</b><br>
        </span>
        <b style="color:red" *ngIf="item.status=='0' && decoded.position==2">
            *******ถ้ายังไม่ผ่านการอนุมัติจากส่วนการเบิกผ้า ท่านสามารถแก้ไขได้********
        </b>
     
</div> 

<clr-datagrid *ngIf="requisitionBillDetail" class=" clr-col-10 ">
    <clr-dg-placeholder>ไม่มีข้อมูล!</clr-dg-placeholder>
    <clr-dg-column [clrDgField]="'clothName'">รายการผ้า</clr-dg-column>
    <clr-dg-column>จำนวน</clr-dg-column>
    <!-- <clr-dg-column *ngIf="decoded.position==1">#</clr-dg-column> -->
    <clr-dg-column *ngIf="decoded.position==2">แก้ไข</clr-dg-column>

    <clr-dg-row id="bgc" *clrDgItems="let item of requisitionBillDetail">

        <!-- <clr-dg-cell style="background-color:rgb(238, 176, 176);" *ngIf="item.requisitionDetailStatus=='2'">
            {{ item.clothName }}</clr-dg-cell>
        <clr-dg-cell style="background-color:rgb(238, 176, 176);" *ngIf="item.requisitionDetailStatus=='2'">
            {{ item.amountCloth }} </clr-dg-cell>
        <clr-dg-cell style="padding-top:0%; scroll-padding-bottom:0%; background-color:rgb(238, 176, 176); "
            *ngIf="decoded.position==2 && item.requisitionDetailStatus=='2'">
            <button type="button" class="btn btn-sm btn-primary" (click)="showEditBill(item)"
            [disabled]="requisitionBillDetailOnly.status=='1' || requisitionBillDetailOnly.status=='2'">แก้ไข</button>
        </clr-dg-cell>
    

        <clr-dg-cell style="background-color:rgb(212, 247, 212);" *ngIf="item.requisitionDetailStatus=='1'">
            {{ item.clothName }}</clr-dg-cell>
        <clr-dg-cell style="background-color:rgb(212, 247, 212);" *ngIf="item.requisitionDetailStatus=='1'">
            {{ item.amountCloth }} </clr-dg-cell>
        <clr-dg-cell style="padding-top:0%; scroll-padding-bottom:0%; background-color:rgb(212, 247, 212); "
            *ngIf="decoded.position==2 && item.requisitionDetailStatus=='1'">
            <button type="button" class="btn btn-sm btn-primary" (click)="showEditBill(item)"
            [disabled]="requisitionBillDetailOnly.status=='1' || requisitionBillDetailOnly.status=='2'">แก้ไข</button>
        </clr-dg-cell> -->

        <clr-dg-cell  *ngIf="item.requisitionDetailStatus=='1'">
            {{ item.clothName }}</clr-dg-cell>
        <clr-dg-cell *ngIf="item.requisitionDetailStatus=='1'">
            {{ item.amountCloth }} </clr-dg-cell>
        <clr-dg-cell *ngIf="decoded.position==2 && item.requisitionDetailStatus=='1'">
            <button type="button" class="btn btn-sm btn-primary" (click)="showEditBill(item)" *ngFor="let items of requisitionBillDetailOnly"
            [disabled]="items.status=='1' || items.status=='2'">แก้ไข</button>
        </clr-dg-cell> 
        

    </clr-dg-row>
    <clr-dg-footer>
        <b>รายการผ้าทั้งหมด {{requisitionBillDetail.length}} รายการ </b>&nbsp;&nbsp;
        <clr-dg-pagination #pagination [clrDgPageSize]="10">
            <clr-dg-page-size [clrPageSizeOptions]="[10,15,20,25]">leave per page</clr-dg-page-size>
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
            of {{pagination.totalItems}} leave
        </clr-dg-pagination>
    </clr-dg-footer>
</clr-datagrid>

<div class="clr-row clr-justify-content-start" style="margin-left: 1.5%;" *ngFor="let items of requisitionBillDetailOnly">
<div class="clr-col-1.5" *ngIf="decoded.position==1">
    <button *ngIf="decoded.position==1" 
    [disabled]="items.status=='1' || items.status=='2' || (find1 == undefined && find2 == 0)  " 
    type="button" class="btn btn-success-outline" (click)="approve(requisitionCode)">ยืนยันอนุมัติการเบิก
    </button>
</div>
<div class="clr-col-1" *ngIf="decoded.position==1">
        <button *ngIf="decoded.position==1" 
        [disabled]="items.status=='1' || items.status=='2' "
        type="button" class="btn btn-danger-outline" (click)="notApproveReq(requisitionCode)">ไม่อนุมัติการเบิกนี้
        </button>
</div>
</div>
<!-- <div *ngIf="decoded.position==2">
    <button type="button" [disabled]="requisitionBillDetailOnly.status=='2'" class="btn btn-primary"
        (click)="editBill(requisitionCode)">แก้ไข
    </button>
</div> -->

<clr-modal *ngIf="currentRow" [(clrModalOpen)]="modalEditBill">
    <div class="modal-body">
        <h2 style="text-align: center;"><b>รายการผ้าที่เบิก</b></h2>
        <form>
            <clr-datagrid>
                <clr-dg-column>รายการผ้า</clr-dg-column>
                <clr-dg-column>จำนวน</clr-dg-column>
                <clr-dg-row>
                    <input type="hidden" name="Cloth_clothId" [(ngModel)]="currentRow.Cloth_clothId">
                    <clr-dg-cell>{{currentRow.clothName}}</clr-dg-cell>
                    <clr-dg-cell><input type="number" name="amountCloth" [(ngModel)]="currentRow.amountCloth" ></clr-dg-cell>
                </clr-dg-row>
            </clr-datagrid>
            <div class="modal-footer">
                <button type="submit" class="btn btn-outline-success" (click)="submitEdit()">ยืนยันการแก้ไข</button>
                <button type="button" class="btn btn-outline" (click)="modalEditBill = false">ปิด</button>
            </div>
        </form>
    </div>
</clr-modal>