
.title {
    text-align: center;
}

.limit-height clr-datagrid.clr-col-8 {
    height: 570px;
    // position: relative;
    // margin-left: auto;
    // margin-right:auto ;
}

#green:hover, #green:focus{
    background-color: rgb(224, 243, 222);
}