<h2 class="title">ประวัติการเบิกผ้า</h2>
<div class="limit-height">
<clr-datagrid class="clr-col-8" *ngIf="showReqlist">
        <clr-dg-column [clrDgField]="'day'">วันที่เบิก</clr-dg-column>
        <clr-dg-column>เวลาที่ยื่นคำร้องเบิกผ้า</clr-dg-column>
        <clr-dg-column>สถานะ</clr-dg-column> 
        <clr-dg-column>ดูข้อมูลการบิก</clr-dg-column>   
        <clr-dg-column>แก้ไขรายการ</clr-dg-column>   
        <clr-dg-row id="green" *ngFor="let item of showReqlist" >
            <clr-dg-cell>{{item.reqDate}}</clr-dg-cell>
            <clr-dg-cell>{{item.time}}</clr-dg-cell>
            <clr-dg-cell *ngIf="item.status==1" style="color:red">รออนุมัติ</clr-dg-cell>
            <clr-dg-cell *ngIf="item.status==2">อนุมัติแล้ว</clr-dg-cell>
            <clr-dg-cell > 
                <button class="btn btn-success-outline btn-sm" (click)="onAdd(item.requisitionCode)">
                    ข้อมูลการเบิก
                </button>
            </clr-dg-cell>
            <clr-dg-cell>แก้ไข(เทอมหน้า)</clr-dg-cell>
        </clr-dg-row>
</clr-datagrid>
</div>

<clr-modal *ngIf="regWaitDetail" [(clrModalOpen)]="modalEdit">
    <div *ngFor="let item of regWaitDetail">
        <b></b>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="modalEdit = false">ปิด</button>
    </div>
</clr-modal>