.clr-col-8 {
    display: block;
    margin: auto; 
}

.title {
    text-align: center;
}

.limit-height {
    height: 500px;
}

#green:hover, #green:focus{
    background-color: rgb(224, 243, 222);
}