.req
{
    text-align: center;
    font-size: 30px;
}

.cen
{
    margin-left: 1%;
}

input:hover,input:focus{
    background-color: rgb(224, 243, 222);
}

input,select{
    color: rgb(22, 105, 78);
}