<h2 class="title">จัดการเจ้าหน้าที่นำจ่าย</h2>
<!-- <form clrForm>
    <div class="clr-row clr-align-items-center">
        <div class="clr-col-1">
            <label>ค้นหา</label>
        </div>
        <input class="clr-col-3" placeholder="รหัสการเบิก" name="searchRequisitionId"
            [(ngModel)]="searchRequisitionId" />
        <div class="clr-col-1">
            <button type="button" (click)="searchReq(searchRequisitionId)" class="btn btn-primary">ค้นหา</button>
        </div>
    </div>
</form> -->
<div class="clr-row">
    <div class="clr-col-6">
        <clr-datagrid class="datagrid-compact" *ngIf="porter">
            <clr-dg-placeholder>ไม่มีข้อมูล!</clr-dg-placeholder>
            <clr-dg-column >ชื่อ</clr-dg-column>
            <clr-dg-column>นามสกุล</clr-dg-column>
            <clr-dg-column>#</clr-dg-column>
            <clr-dg-row id="green" *clrDgItems="let item of porter">
                <clr-dg-cell>{{item.firstname}}</clr-dg-cell>
                <clr-dg-cell>{{item.lastname}}</clr-dg-cell>
                <clr-dg-cell>
                    <button class="btn btn-success-outline btn-sm" (click)="showManagePorter(item)">
                        จัดการวอร์ด
                    </button>
                </clr-dg-cell>
            </clr-dg-row>
        </clr-datagrid>
    </div>
    <div class="clr-col-6">
        <clr-datagrid class="datagrid-compact" *ngIf="tableTwo">
            <clr-dg-placeholder>ไม่มีข้อมูล!</clr-dg-placeholder>
            <clr-dg-column >รหัสวอร์ด</clr-dg-column>
            <clr-dg-column>ชื่อวอร์ด</clr-dg-column>
            <clr-dg-column>คนรับผิดชอบ</clr-dg-column>
            <clr-dg-row id="green" *clrDgItems="let item of tableTwo">
                <clr-dg-cell >{{item.wardCode}}</clr-dg-cell>
                <clr-dg-cell>{{item.wardName}}</clr-dg-cell>
                <clr-dg-cell>{{item.name}}</clr-dg-cell>

            </clr-dg-row>
        </clr-datagrid>
    </div>
</div>


<clr-modal *ngIf="currentRow" [(clrModalOpen)]="managePorter">
    <h3 class="modal-title" style="text-align:center;">จัดการผู้จ่าย {{ currentRow.firstname}} {{ currentRow.lastname}}
    </h3>
    <div class="modal-body">
        <h5>จำนวนที่รับผิดชอบ : {{sum}}</h5>

        <clr-datagrid [(clrDgSelected)]="selected" class="datagrid-compact"  (change)="check()">
            <clr-dg-placeholder>ไม่มีรายการวอร์ดให้เลือก!</clr-dg-placeholder>
            <clr-dg-column>รหัส</clr-dg-column>
            <clr-dg-column>ชื่อวอร์ด</clr-dg-column>
            <clr-dg-column>เจ้าหน้าที่ดูแลวอร์ดนี้</clr-dg-column>
            <clr-dg-row id="green" *clrDgItems="let item of allWard" [clrDgItem]="item">
                <clr-dg-cell>{{item.wardCode}}</clr-dg-cell>
                <clr-dg-cell>{{item.wardName}}</clr-dg-cell>
                <clr-dg-cell>{{item.name}}</clr-dg-cell>
            </clr-dg-row>
        </clr-datagrid><br>
        <div class="btn-group" >
            <button type="button " (click)="manageWardPorter()" class="btn btn btn-success-outline" 
            [disabled]="diseble == false || this.blank1 == false || blank2 == true">
            จัดการวอร์ดที่เลือก
        </button>
            <button type="button " (click)="cancelManageWardPorter()" class="btn btn-danger-outline" 
            [disabled]="diseble == false || this.blank1 == true || this.blank2 == false ">
            ยกเลิกวอร์ดที่เลือก
        </button>
        </div>
    </div>
</clr-modal>