<ol class="breadcrumb breadcrumb-arrow font-trirong">
    <li><a href="javascript://">Stock</a></li>
</ol>
<h1>คลังผ้า</h1>

<div style="text-align: right">
    <button type="button" (click)="onAdd()" class="btn btn-success">
        + ผ้าลงในคลัง
    </button>
</div>
<clr-datagrid *ngIf="clothList">
    <clr-dg-column [clrDgField]="'cId'">ID</clr-dg-column>
    <clr-dg-column [clrDgField]="'cName'">ชื่อ</clr-dg-column>
    <clr-dg-column >ชนิดผ้า</clr-dg-column>
    <clr-dg-column>จำนวน</clr-dg-column>
    <!-- <clr-dg-column>#</clr-dg-column> -->
    <clr-dg-row *clrDgItems="let item of clothList;">
        <clr-dg-cell>{{ item.cId }}</clr-dg-cell>
        <clr-dg-cell>{{ item.cName }}</clr-dg-cell>
        <clr-dg-cell>{{ item.cTypeName }}</clr-dg-cell>
        <clr-dg-cell>{{ item.cAmount }}</clr-dg-cell>
        <!-- <clr-dg-cell>
            <button class="btn btn-primary" (click)="onEdit(item)">แก้ไข</button><br>
        </clr-dg-cell> -->
    </clr-dg-row>
    <clr-dg-footer>
        <b>ชนิดผ้าทั้งหมด {{clothList.length}} ชนิด </b>&nbsp;&nbsp;
        <clr-dg-pagination #pagination [clrDgPageSize]="10">
            <clr-dg-page-size [clrPageSizeOptions]="[10,15,20,25]">leave per page</clr-dg-page-size>
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
            of {{pagination.totalItems}} leave
        </clr-dg-pagination>
    </clr-dg-footer>
</clr-datagrid>

<clr-modal *ngIf="currentRow" [(clrModalOpen)]="modalEdit">
    <h3 class="modal-title" *ngIf="currentRow.mode== 'edit'">แก้ไขผ้า</h3>
    <label>ชื่อ</label>
    <h3 class="modal-title" *ngIf="currentRow.mode== 'add'">เพิ่มผ้า</h3>
    <div class="modal-body">
        <label><b>ชื่อผ้า</b></label>
        <clr-input-container class="clr-col-8">
        <input clrInput type="text" [(ngModel)]="currentRow.cName" name="cName">
        </clr-input-container>
        <br>
        <label><b>เลือกประเภทของผ้า</b></label><br>
        <div class="clr-select-wrapper">
            <select id="cTypeId" [(ngModel)]="currentRow.cTypeId" class="clr-select" name="cTypeId">
                <option *ngFor="let item of clothTypeList" [value]="item.cTypeId">
                    {{ item.cTypeName }}
                </option>
            </select>
        </div>
        <br><br>
        <label><b>จำนวน</b></label>
        <clr-input-container class="clr-col-8">
        <input clrInput type="text" [(ngModel)]="currentRow.cAmount" name="cAmount">
        </clr-input-container>
        <br><br>
    </div>
    <br>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="modalEdit = false">ยกเลิก</button>
        <button type="button" class="btn btn-primary" (click)="onSave()" [disabled]="!currentRow.cName || !currentRow.cTypeId || !currentRow.cAmount">บันทึก</button>
    </div>
</clr-modal>