<clr-main-container>
  <clr-header class="header-5" style="background-color:rgb(60, 117, 36)">
    <div class="branding">
      <a href="javascript://" class="nav-link">
        <span class="title">ระบบจัดการงานซักผ้าโรงพยาบาลขอนแก่น</span>
      </a>
    </div>
    <div class="header-nav" [clr-nav-level]="1">
      <a href="javascript://" class="active nav-link nav-icon" routerLink="/">
        <clr-icon shape="home"></clr-icon>
      </a>
    </div>
    <div class="header-actions">
      <clr-dropdown>
        <button class="nav-icon-text" clrDropdownTrigger>
          <span class="title username">{{decoded.firstname}} {{decoded.lastname}} (
            {{decoded.positionName}}{{decoded.wardName}} ) &nbsp;</span>
          <clr-icon shape="user" size="24"></clr-icon>
          &nbsp;
          <clr-icon shape="caret down" size="20"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <!-- <a href="javascript://" clrDropdownItem routerLink="/main/about">About</a>
          <a href="javascript://" clrDropdownItem routerLink="/main/preference">Preferences</a> -->
          <a href="javascript://" clrDropdownItem (click)="onLogout()">ออกจากระบบ</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </clr-header>

  <div class="content-container">
    <main class="content-area">
      <router-outlet></router-outlet>
    </main>
    <clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed"
      style="background-color: rgb(188, 226, 188);">
      <a clrVerticalNavLink routerLink="./main" routerLinkActive="active">
        <clr-icon shape="home" clrVerticalNavIcon></clr-icon>
        หน้าแรก
      </a>
      <div *ngIf="decoded.status_approve == 'true'">
        <a clrVerticalNavLink *ngIf="authority.four=='true'" routerLink="./stock" routerLinkActive="active">
          <clr-icon shape="store" clrVerticalNavIcon></clr-icon>
          คลังผ้า
        </a>
        <a clrVerticalNavLink *ngIf="authority.three=='true'" routerLink="./purchase" routerLinkActive="active">
          <clr-icon shape="add-text" clrVerticalNavIcon></clr-icon>
          สั่งซื้อผ้าเข้าใหม่
        </a>
        <a clrVerticalNavLink *ngIf="authority.three=='true'" routerLink="./report-purchase" routerLinkActive="active">
          <clr-icon shape="view-list" clrVerticalNavIcon></clr-icon>
          รายงานรายการสั่งซื้อผ้า
        </a>
        <a clrVerticalNavLink *ngIf="authority.five=='true'" routerLink="./move-warehouse" routerLinkActive="active">
          <clr-icon shape="pop-out" clrVerticalNavIcon></clr-icon>
          เบิกผ้าเข้าส่วนกลาง
        </a>
        <a clrVerticalNavLink *ngIf="authority.two=='true'" routerLink="./requisition-detail-admin"
          routerLinkActive="active">
          <clr-icon shape="file-group" clrVerticalNavIcon></clr-icon>
          รายการเบิกผ้าเข้าของวอร์ด
        </a>
        <a clrVerticalNavLink *ngIf="authority.two=='true'" routerLink="./overview" routerLinkActive="active">
          <clr-icon shape="file" clrVerticalNavIcon></clr-icon>
          ภาพรวมการเบิกจ่ายผ้า
        </a>
        <a clrVerticalNavLink *ngIf="authority.two=='true'" routerLink="./overview-requisition" routerLinkActive="active">
          <clr-icon shape="file" clrVerticalNavIcon></clr-icon>
          ภาพรวมการเบิกผ้า
        </a>
        <a clrVerticalNavLink *ngIf="decoded.position==2" routerLink="./requisition" routerLinkActive="active">
          <clr-icon shape="note" clrVerticalNavIcon></clr-icon>
          เบิกผ้า
        </a>
        <a clrVerticalNavLink *ngIf="authority.six=='true'" routerLink="./ward" routerLinkActive="active">
          <clr-icon shape="note" clrVerticalNavIcon></clr-icon>
          วอร์ด
        </a>
        <a clrVerticalNavLink *ngIf="authority.twelve=='true'" routerLink="./company" routerLinkActive="active">
          <clr-icon shape="truck" clrVerticalNavIcon></clr-icon>
          บริษัทรับซักผ้า
        </a>
        <a clrVerticalNavLink *ngIf="decoded.position==2" routerLink="./requisition-detail" routerLinkActive="active">
          <clr-icon shape="view-list" clrVerticalNavIcon></clr-icon>
          ประวัติการเบิก
        </a>
        <a clrVerticalNavLink *ngIf="authority.one=='true'" routerLink="./overview-withdraw" routerLinkActive="active">
          <clr-icon shape="event" clrVerticalNavIcon></clr-icon>
          รายการเบิกผ้าทั้งหมด
        </a>
        <a clrVerticalNavLink *ngIf="authority.one=='true'" routerLink="./withdraw-history" routerLinkActive="active">
          <clr-icon shape="view-list" clrVerticalNavIcon></clr-icon>
          รายการเบิกผ้าที่เลือก
        </a>
        <a clrVerticalNavLink *ngIf="authority.ten=='true'" routerLink="./user" routerLinkActive="active">
          <clr-icon shape="user" clrVerticalNavIcon></clr-icon>
          จัดการผู้ใช้งาน
        </a>
        <a clrVerticalNavLink *ngIf="authority.seven=='true'" routerLink="./manage-porter" routerLinkActive="active">
          <clr-icon shape="clipboard" clrVerticalNavIcon></clr-icon>
          จัดการเจ้าหน้าที่นำจ่าย
        </a>
        <a clrVerticalNavLink *ngIf="authority.ten=='true'" routerLink="./authority" routerLinkActive="active">
          <clr-icon shape="bullseye" clrVerticalNavIcon></clr-icon>
          จัดการสิทธิ์
        </a>
        <a clrVerticalNavLink *ngIf="authority.nine=='true'" routerLink="./overview-damage" routerLinkActive="active">
          <clr-icon shape="no-access" clrVerticalNavIcon></clr-icon>
          รายการผ้าชำรุด
        </a>
        <a clrVerticalNavLink *ngIf="authority.nine=='true'" routerLink="./repair" routerLinkActive="active">
          <clr-icon shape="wrench" clrVerticalNavIcon></clr-icon>
          รายการซ่อมผ้า
        </a>
        <clr-vertical-nav-group *ngIf="authority.seven=='true'" routerLinkActive="active">
          <clr-icon shape="rack-server" clrVerticalNavIcon></clr-icon>
          รายการจ่ายผ้า
          <clr-vertical-nav-group-children>
            <a clrVerticalNavLink routerLink="./overview-withdraw-admin" routerLinkActive="active">
              รายการจ่ายผ้าทั้งหมด
            </a>
            <!-- <a clrVerticalNavLink routerLink="./overview-withdraw-month" routerLinkActive="active">
              รายการจ่ายผ้ารายเดือน
            </a> -->
            <a clrVerticalNavLink routerLink="./overview-withdraw-report" routerLinkActive="active">
              รายงานการจ่ายผ้า
            </a>
            <a clrVerticalNavLink routerLink="./withdraw-user-report" routerLinkActive="active">
              รายการจ่ายผ้าของเจ้าหน้าที่
            </a>
          </clr-vertical-nav-group-children>
        </clr-vertical-nav-group>
        <a clrVerticalNavLink *ngIf="authority.eigth=='true'" routerLink="./export-cloth" routerLinkActive="active">
          <clr-icon shape="user" clrVerticalNavIcon></clr-icon>
          ชั่งน้ำหนักผ้า
        </a>
        <a clrVerticalNavLink *ngIf="authority.eigth=='true'" routerLink="./export-cloth-detail"
          routerLinkActive="active">
          <clr-icon shape="view-list" clrVerticalNavIcon></clr-icon>
          ประวัติการชั่งน้ำหนัก
        </a>
        <a clrVerticalNavLink *ngIf="authority.five=='true'" routerLink="./move-warehouse" routerLinkActive="active">
          <clr-icon shape="view-list" clrVerticalNavIcon></clr-icon>
          เบิกผ้าเข้าส่วนกลาง
        </a>
        <a clrVerticalNavLink *ngIf="authority.five=='true'" routerLink="./move-warehouse-detail"
          routerLinkActive="active">
          <clr-icon shape="view-list" clrVerticalNavIcon></clr-icon>
          ประวัติการเบิกเข้าผ้าส่วนกลาง
        </a>
        <a clrVerticalNavLink *ngIf="authority.five=='true'" routerLink="./available" routerLinkActive="active">
          <clr-icon shape="view-list" clrVerticalNavIcon></clr-icon>
          คลังผ้าส่วนกลาง
        </a>
      </div>
    </clr-vertical-nav>
  </div>
</clr-main-container>