<clr-main-container>
  <clr-header class="header-5" style="background-color:rgb(60, 117, 36)">
    <div class="branding">
      <a href="javascript://" class="nav-link">
        <span class="title">Washing Department Management System</span>
      </a>
    </div>
    <div class="header-nav" [clr-nav-level]="1">
      <a href="javascript://" class="active nav-link nav-icon" routerLink="/">
        <clr-icon shape="home"></clr-icon>
      </a>
    </div>
    <!-- <div class="branding">
      <span class="title username">{{decoded.firstname}} {{decoded.lastname}} (
        {{decoded.positionName}} )</span>
    </div> -->
    <div class="header-actions">
      <clr-dropdown>
        <button class="nav-icon-text" clrDropdownTrigger>
          <span class="nav-text"  *ngIf="decoded.position==2">{{decoded.wardName}} (Ward)</span>
          <span class="nav-text"  *ngIf="decoded.position==1">{{decoded.firstname}} {{decoded.lastname}} (Administrator)</span>
          <span class="nav-text"  *ngIf="decoded.position==3">{{decoded.firstname}} {{decoded.lastname}} (Withdraw employee)</span>
          <span class="nav-text"  *ngIf="decoded.position==4">{{decoded.firstname}} {{decoded.lastname}} (Weigh employee )</span>
          <clr-icon shape="user" size="24"></clr-icon>
          &nbsp; 
          <clr-icon shape="caret down" size="20"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a href="javascript://" clrDropdownItem routerLink="/main/about">About</a>
          <a href="javascript://" clrDropdownItem routerLink="/main/preference">Preferences</a>
          <a href="javascript://" clrDropdownItem (click)="onLogout()">Log out</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </clr-header>

  <div class="content-container">
    <main class="content-area">
      <router-outlet></router-outlet>
    </main>
    <clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed"
      style="background-color: rgb(188, 226, 188);">
      <a clrVerticalNavLink routerLink="./main" routerLinkActive="active">
        <clr-icon shape="home" clrVerticalNavIcon></clr-icon>
        หน้าแรก
      </a>
      <div *ngIf="decoded.status_approve == 'true'">
        <a clrVerticalNavLink *ngIf="decoded.position==1" routerLink="./stock" routerLinkActive="active">
          <clr-icon shape="store" clrVerticalNavIcon></clr-icon>
          คลังผ้า
        </a>
        <a clrVerticalNavLink *ngIf="decoded.position==1" routerLink="./purchase" routerLinkActive="active">
          <clr-icon shape="add-text" clrVerticalNavIcon></clr-icon>
          รายการสั่งซื้อผ้าเข้าใหม่
        </a>
        <a clrVerticalNavLink *ngIf="decoded.position==1" routerLink="./report-purchase" routerLinkActive="active">
          <clr-icon shape="view-list" clrVerticalNavIcon></clr-icon>
          รายงานรายการสั่งซื้อผ้า
        </a>
        <a clrVerticalNavLink *ngIf="decoded.position==1" routerLink="./requisition-detail-admin"
          routerLinkActive="active">
          <clr-icon shape="view-list" clrVerticalNavIcon></clr-icon>
          รายการเบิกผ้าเข้าของวอร์ด
        </a>
        <a clrVerticalNavLink *ngIf="decoded.position==2" routerLink="./requisition" routerLinkActive="active">
          <clr-icon shape="note" clrVerticalNavIcon></clr-icon>
          เบิกผ้า
        </a>
        <a clrVerticalNavLink *ngIf="decoded.position==1" routerLink="./ward" routerLinkActive="active">
          <clr-icon shape="note" clrVerticalNavIcon></clr-icon>
          วอร์ด
        </a>
        <a clrVerticalNavLink *ngIf="decoded.position==2" routerLink="./requisition-detail" routerLinkActive="active">
          <clr-icon shape="view-list" clrVerticalNavIcon></clr-icon>
          รายการเบิกผ้า
        </a>
        <a clrVerticalNavLink *ngIf="decoded.position==3" routerLink="./overview-withdraw" routerLinkActive="active">
          <clr-icon shape="view-list" clrVerticalNavIcon></clr-icon>
          รายการเบิกผ้าทั้งหมด
        </a>
        <a clrVerticalNavLink *ngIf="decoded.position==3" routerLink="./withdraw-history" routerLinkActive="active">
          <clr-icon shape="view-list" clrVerticalNavIcon></clr-icon>
          รายการเบิกผ้าที่เลือก
        </a>
        <a clrVerticalNavLink *ngIf="decoded.position==1" routerLink="./user" routerLinkActive="active">
          <clr-icon shape="user" clrVerticalNavIcon></clr-icon>
          จัดการผู้ใช้งาน
        </a>
        <a clrVerticalNavLink *ngIf="decoded.position==1" routerLink="./overview-damage" routerLinkActive="active">
          <clr-icon shape="no-access" clrVerticalNavIcon></clr-icon>
          รายการผ้าชำรุด
        </a>
        <a clrVerticalNavLink *ngIf="decoded.position==1" routerLink="./overview-withdraw-admin" routerLinkActive="active">
          <clr-icon shape="file" clrVerticalNavIcon></clr-icon>
          รายการจ่ายผ้าทั้งหมด
        </a>
        <clr-vertical-nav-group routerLinkActive="active" *ngIf="decoded.position==4">
        <a clrVerticalNavLink *ngIf="decoded.position==4" routerLink="./export-cloth" routerLinkActive="active">
          <clr-icon shape="user" clrVerticalNavIcon></clr-icon>
          ชั่งน้ำหนักผ้าส่งบริษัท
        </a>
        <a clrVerticalNavLink *ngIf="decoded.position==4" routerLink="./export-cloth-detail" routerLinkActive="active">
          <clr-icon shape="view-list" clrVerticalNavIcon></clr-icon>
          ประวัติชั่งน้ำหนักผ้า
        </a>
        <!-- <clr-vertical-nav-group routerLinkActive="active" *ngIf="decoded.position==4">
          <clr-icon shape="user" clrVerticalNavIcon></clr-icon>
          ชั่งน้ำหนักผ้า
          <clr-vertical-nav-group-children>
            <a clrVerticalNavLink routerLink="./weight-in-company" routerLinkActive="active">
              ผ้ารับจากบริษัท
            </a>
            <a clrVerticalNavLink routerLink="./weight-in-hos" routerLinkActive="active">
              ผ้าซักเอง
            </a>
            <a clrVerticalNavLink *ngIf="decoded.position==1" routerLink="./ward" routerLinkActive="active">
              <clr-icon shape="view-list"></clr-icon>
              วอร์ด
            </a>
            <a clrVerticalNavLink *ngIf="decoded.position==4" routerLink="./overview-import-cloth"
              routerLinkActive="active">
              <clr-icon shape="view-list" clrVerticalNavIcon></clr-icon>
              รายงานการชั่งน้ำหนักผ้า
            </a>
           
          </clr-vertical-nav-group-children>
        </clr-vertical-nav-group> -->
      </div>
    </clr-vertical-nav>
    <!-- 
    <nav class="sidenav" style="background-color: rgb(188, 226, 188);">
      <section class="sidenav-content">
          <a href="..." class="nav-link">
              หน้าแรก
          </a>
          <a routerLink="./stock" class="nav-link">
              คลังผ้า 
          </a>
          <a routerLink="./purchase" class="nav-link">
            รายการสั่งซื้อผ้าเข้าใหม่
        </a>
          <a routerLink="./requisition" class="nav-link">
            เบิกผ้า 
        </a>
      </section>
  </nav> -->
  </div>

</clr-main-container>